<section id="about" aria-labelledby="about-heading">
  <h2 id="about-heading">About</h2>
  <p>This intro will change, badly generic.</p>

  <p>
    Hello! I'm Hasan, a machine learning engineer based in the crossroads of
    logic and creativity. My work is driven by a deep passion for life's complex
    puzzles, the elegance of mathematics, the foundational truths of philosophy,
    and the tangible impact of engineering.
  </p>
  <p>
    I believe in building solutions that are not only technically robust but
    also simple and intuitive. This portfolio is a small window into my world
    and my work.
  </p>
</section>
