<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HHYurdagul - {{ title }}</title>
  <link rel="alternate" type="application/rss+xml" title="Subscribe to HHYurdagul's RSS Feed" href="/feed.xml" />
  <link rel="icon" href="/assets/favicon.ico" sizes="48x48">
  <link rel="icon" href="/assets/favicon.svg" sizes="any" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/assets/apple-touch-icon.png">
  <link rel="manifest" href="/assets/site.webmanifest">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/css/fonts.css">
  {{ if math }}
  <link rel="stylesheet" href="/css/katex.css">
  {{ /if }}
</head>

<body class="container">
  <div class="grain"></div>
  {{ comp.Navbar() }}
  <main>
    {{ content }}
  </main>
  {{ comp.Footer() }}
</body>

</html>